body{
  margin-bottom: -10px !important;
}

.App {
  text-align: center;
  background-color: #f0eeeb;
}

.navbar-expand-lg,
.bg-color {
  background-color: #f0eeeb;
}

.navbar-brand {
  font-weight: 700;
  font-size: 25px !important;
  transition: transform 1s ease;
}

.navbar-brand:hover {
  transform: scale(1.2, 1.2);
}


.link {
  padding: 1rem;
  text-decoration: none;
  color: #0e171b;
  font-weight: 500;
  transition: transform 1s ease;
}


.link:hover {
  border-bottom: 2px solid rgb(173, 97, 97);
  height: 50px;
  color: #803d3d;
  transform: scale(1.2, 1.2);
}

.btn {
  height: 40px;
  margin: auto;
}

p {
  font-family: 'Kumbh Sans', sans-serif;
}

.display {
  font-weight: 700;
}

.col-lg-1 {
  width: 10% !important;
}


.spence {
  font-family: cursive;
  font-size: 25px;
}

/* form css */

input.txt {
  border-bottom: 2px solid #ccc !important;
  box-shadow: none;
  border-radius: 0;
}

.form-control:focus {
  border-color: white;
  box-shadow: none !important;
}

.floating-label-group {
  position: relative;
  margin-top: 15px;
  margin-bottom: 25px;
}

.floating-label {
  font-size: 13px;
  color: #cccccc;
  position: absolute;
  pointer-events: none;
  top: 9px;
  left: 12px;
  transition: all 1s ease;
}

input:focus~.floating-label,
input:not(:focus):valid~.floating-label {
  top: -15px;
  bottom: 0px;
  left: 0px;
  font-size: 11px;
  opacity: 1;
  color: #404040;
  transition: all 0.5s ease;
}


.dash {
  letter-spacing: -3px;
}


.carousel {
  height: 720px !important;
}


.img-fix {
  background-size: contain;
  height: 720px !important;
}


Button.bg-dark:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.5s ease;
}


.nav-link.active {
  background-color: #d4b689 !important;
}

.nav-link {
  color: black !important;
  font-weight: 500 !important;
  font-size: 18px !important;
}

.btn-green {
  background-color: #03363d !important;
}

.btn-green:hover {
  transform: scale(0.8, 0.8);
  transition: all 0.5s ease;
}

.ft-g {
  color: #03363d !important;
}

#hover-content {
  display: none;
}

#parent:hover #hover-content {
  display: block;
}

#parent {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0 20px;
}

.tooltip-inner {
  max-width: 260px !important;
}

.border-green {
  border: 3px solid #03363d !important;
}

.wrdspc {
  letter-spacing: -1px;
}

.equal {
  flex: 1;
}

ul.list-shape-bullets {
  list-style: none;
  padding: 0;
}

ul.list-shape-bullets li {
  margin-bottom: 1em;
  padding: 0 0 0 2em;
  position: relative;
}

ul.list-shape-bullets li::before {
  background: url(https://web-assets.zendesk.com/images/p-pricing/2021/bullet-arch.svg) center center/contain no-repeat transparent;
  content: "";
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 0.5em;
  width: 1em;
}

ul.list-shape-bullets li:nth-child(2n)::before {
  background: url(https://web-assets.zendesk.com/images/p-pricing/2021/bullet-square.svg) center center/contain no-repeat transparent;
  /* content: "";
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 0.1em; */
  width: 1em;
}

ul.list-shape-bullets li:nth-child(3n)::before {
  background: url(https://web-assets.zendesk.com/images/p-pricing/2021/bullet-triangle.svg) center center/contain no-repeat transparent;
  /* content: "";
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 0.1em; */
  width: 1em;
}

ul.list-shape-bullets li:nth-child(4n)::before {
  background: url(https://web-assets.zendesk.com/images/p-pricing/2021/bullet-quarter.svg) center center/contain no-repeat transparent;
  /* content: "";
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 0.1em; */
  width: 1em;
}

li, .ls {
  list-style-type: none;
}

.line, .ls {
  text-decoration: none;
  color: black;
}

.line:hover {
  border-bottom: 1px solid black;
}





@media screen and (max-width:769px) {
  strong {
    font-size: 13px !important;
  }

  .me-2 {
    margin-right: 0px !important;
  }

  .col-lg-1 {
    width: 100px !important;
  }

  .w-75.m-auto.no-width.card {
    width: 100% !important;
  }

  .img-fix {
    width: -webkit-fill-available !important;
  }

  .container-fluid {
    padding: 0 !important;
  }

  .text-sm {
    font-size: 12px !important;
  }

  .no-pad {
    padding: 0 !important;
  }

}

@media screen and (max-width: 320px) {
  strong {
    font-size: 11px !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 1025px) {
  .px-5.py-3.no-pad {
    padding: 0% !important;
  }



}